*{
    margin: 0;
    padding: 0;
}


header{


}
.Header_section{

width: 80%;

margin-left: 10%;

overflow: hidden;
}

.logo{float: left;width: 20%;margin: 16px 0px;}
nav{

width: 55%;

margin: 10px;

float: left;
}
nav ul{

list-style: none;

float: left;

font-size: 15px;

margin: 20px 0px;

font-weight: 900;

color: 20203D;
}
nav ul li{

float: left;
}
nav ul li a{

text-decoration: none;

padding-right: 40px;

color: #302D47;

/* margin-left: 9px; */
}
.Header_button{
    
float: right;
    
padding: 15px 20px;
    
background: #FF6162;
    
color: white;
    
margin: 15px 0px;
    
border-radius: 5px;
    
border: none;
    
/* width: 20%; */
}
margin{

width: 80%;
}
.section_content{

width: 80%;

margin-left: 10%;

overflow: hidden;

padding: 80px 0px;
}
.left_content{

width: 43%;

float: left;

/* margin-top: 110px; */
}
.left_content h1{

/* margin-top: 50px; */

margin-left: 5%;

font-size: 38px;

font-weight: bold;

color: #20203D;
}
.left_content p{
    
margin-left: 5%;
    
/* margin: 30px 5%; */
    
margin-top: 30px;
    
color: #C3D3E7;
    
font-size: 17px;
}
.right_content{
    
float: right;
    
width: 30%;
    
/* margin-top: 100px; */
}
.right_content img{
    
width: 300px;
}
.demo_content{

}
.heading_content{

text-align: center;

margin-top: 120px;
}
.heading_content h1{

font-size: 27px;

color: #20203D;
}
.heading_content p{
    
font-style: italic;
    
color: #C3D3E7;
    
padding: 15px 0px;
    
font-size: 15px;
}
.demo_section{

width: 90%;

margin-left: 5%;

overflow: hidden;

margin-top: 20px;

margin-bottom: 200px;
}
.demo_one{

width: 22%;

float: left;
}
.demo_two{

width: 22%;

float: left;

margin-left: 4%;
}
.demo_three{

width: 22%;

float: left;

margin-left: 4%;
}
.demo_four{
    
width: 22%;
    
float: right;
}
.head_feature{

text-align: center;
}
.head_feature h1{
color:#20203D
}
.head_feature p{
color:#C3D3E7;
margin: 10px 0px 20px 0px;
font-style: italic;
}

.container{
    width: 1000px;
    margin: 0px auto;


}

.row{
    display:flex;
    flex-wrap: wrap;
}

.box{
    max-width: 33.33%;
    flex-basis: 33.33%;
    padding: 10px;
    box-sizing: border-box;





}

.hridoy{
    background: #f3f3f3;
    text-align: center;
    border-radius: 5px;
    padding: 20px 0px 15px 0px;
    }
 i.fab.fa-intercom{

color: #FF6B6C;

font-size: 50px;

}

.hridoy h1{
margin-top: 10px;
}
.hridoy p{
    margin-top: 10px;

}
footer{

background: #292640;

color: #FFF;

text-align: center;

height: 313px;
}
.footer_section{

padding: 14px 0px;

margin-top: 100px;
}
.footer_section h1{

margin-top: 25px;

font-size: 33px;
}
button{

width: 213px;

padding: 20px 20px;

color: #FFf;

font-weight: 700;

background: #FF6B6C;

border-radius: 5px;

border: none;

margin: 30px;
}
.btn{
    
}
